*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif ;
  font-size: 16px;
}

.contenedor {
  width: 90%;  /* recordar ++ el % siempre se utiliza como medida relativa, en este caso se utilizara el 90% del body (su contenedor padre)  ++ */
  max-width: 1000px; /* limita el tamaño maximo del contenedor */
  margin: auto; /* margenes calculados automaticamente permitiendo que se centre el contenido*/
  overflow: hidden ;
}